body {
    background: #C6858D;
    margin: 0;
    padding: 0;
}

#add-book {
    font-size: 2em;
    margin: 1em 1em;
    border: none;
    background: #E8AF94;
    padding: 1em;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 85%;
    margin-left: 1em;
}

.book-card {
    padding: 1rem;
    border: 2px solid black;
    margin: 1rem;
    background: #F1E2D2;
}

.book-card>button {
    margin: 0.5em;
    font-size: 1.2em;
    border: none;
    background: #D5B2B2;
    padding: 0.5em;
}

form {
    display: none;
    flex-direction: column;
    width: 15%;
    float: right;
    margin: 1em;
    padding: 1em;
    background: #F1E2D2;    
    border: 1px solid #BCA2AA;
    gap: 1em;
}

#submit-btn {
    border: none;
    background: #E8AF94;
    padding: 1em;
    font-size: 1.5em;
}